@import url('https://fonts.googleapis.com/css?family=Poppins');

.wrapper {
    background-color: #56baed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.formContent {
    background: #fff;
    padding: 40px;
    max-width: 450px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.input {
    background-color: #f6f6f6;
    border: none;
    padding: 15px 20px;
    margin: 10px 0;
    width: 85%;
    border-radius: 8px;
    font-size: 16px;
}

.input:focus {
    border-bottom: 2px solid #5fbae9;
    background-color: #fff;
    outline: none;
}

.button {
    background-color: #56baed;
    color: white;
    padding: 14px 40px;
    border: none;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
}